*{
    margin: 0px;
    padding: 0px;
}

.carousel-container{
   margin: 30px;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next{
    background-color: #fcfcfc;
   width: 47px;
   height: 104px;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
}
.slick-prev{
    left: 0;
    border-radius: 0px 7px 7px 0px;
}

.slick-next{
    right: 0;
    border-radius: 7px 0px 0px 7px;

}
.slick-prev::before,
.slick-next::before{
display: none;
}